*{
    margin: 20px;
    padding: 0;
}

.div1{
    margin-bottom: 80px;
    padding: 40px;
    border: 1px solid red;
    background-color: rgb(255, 186, 186);
    box-shadow: 10px 10px 10px  red, 20px 20px 10px  rgb(0, 247, 255), 30px 30px 10px  rgb(255, 217, 0);
}

.div2{
    padding: 40px;
    border: 1px solid red;
    background-color: rgb(255, 186, 186);
    box-shadow: 0px 20px 10px  red;
}

h1{
    text-shadow: 5px 5px 10px rgb(0, 119, 255);
}