    body {
      background-color: rgb(232, 246, 255);
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h1{
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 36px;
        text-decoration: underline red;
    }

    p{
        font-size: 18px;
    }

    a{
        font-size: 20px;
    }

    img{
        width: 600px;
    }

    h3{
        text-decoration: underline green;
        font-size: 22px;
    }

    ul{
        font-size: 18px;
    }

    table {
        margin-top: 40px;
        width: 100%;
        border: 1px solid #000;
    }
    
    th, td {
        width: 25%;
        text-align: left;
        vertical-align: top;
        border: 1px solid #000;
    }