*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

::selection {
  background: #0056b8;  /* color del fondo de selección */
  color: white;  /* color del texto seleccionado */
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #0056b8;
  color: white;
  padding: 5px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contenedor-izquierda{
  display: flex;
  align-items: center;
  gap: 40px;
}

#logo{
  width: 80px;
  margin: 20px auto;
}

h1 {
  font-size: 20px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 1400px;
  margin: 30px auto;
  padding: 30px;
}

h2 {
  color: #0056b8;
  font-size: 38px;
  margin-top: 30px;
}

h3 {
  font-size: 18px;
  color: #7a7200;
  margin-top: 20px;
}

p{
  margin-top: 10px;
}

ul{
  margin-left: 40px;
}

ol{
  margin-left: 40px;
}

.imagen-grande{
  width: 100%;
  max-width: 900px;
  height: auto;
  border-radius: 14px;
  display: block;
  margin: 20px auto;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

#etiquetas-texto{
  max-width: 400px;
}

video{
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: 20px auto;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/*Mostrar las imágenes una al lado de otra, si no entran, se desborda debajo*/

.contenedor{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /*Desbordamiento*/
  margin: 20px 0;
}

.contenedor img {
  display: block;
  max-width: 600px;
  width: 100%;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.table-responsive{
  width: 100%;
  margin: 40px 0 40px 0;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #0056b8;
  color: white;
}

form{
    background-color: white;
    padding: 20px 40px;
    width: 100%;
    max-width: 800px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.164);
    margin: 40px auto;
}

form label, form input, form select, form textarea{
    width: 100%;
    margin-bottom: 20px;
}

form input[type="radio"], form input[type="checkbox"]{
    width: auto;
    margin-right: 5px;
}

form input[type="color"]{
  max-width: 60px;
}

input[type="radio"] + label {
  margin-right: 10px;
}

form input[type="submit"],
form input[type="reset"] {
    background-color: #0056b8;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
    background-color: #2781e7;
}

form fieldset {
    border: 2px solid #0056b8;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

form legend {
    font-weight: bold;
    font-size: 18px;
    color: #0056b8;
    padding: 0 10px;
    margin-left: 10px;
}

h2.form-title {
    text-align: center;
    margin-bottom: 20px;
}

input[type="password"]:invalid {
    border: 2px solid red;
}

input[type="password"]:valid {
    border: 2px solid green;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}