*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: rgba(0, 153, 255, 0.3);
}

.content{
    margin-left: 200px;
    padding: 40px;
}

.lista1,.lista2{
    border: 5px solid rgb(12, 0, 78);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 12px;
}

.lista1{
    padding-left: 800px;
}

.lista2{
    margin-left: 400px;
    padding-left: 900px;
}

.caja1{
    background-color:crimson;
    width: 300px;
    padding: 100px;
    position: absolute;
}

.caja2{
    background-color: coral;
    width: 300px;
    box-sizing: border-box;
    padding: 100px;
    position: absolute;
    right: 0;
}

.contenedor{
    position: relative;
}

.logo{
    position: fixed;
    top: 20px;
    left: 220px;
    box-sizing: border-box;
}

.logo img{
    height: 80px;
}

h1{
    position: sticky;
    top: 10px;
}

.imagen-texto{
    position: relative;
    box-sizing: border-box;
    width: 1000px;
    margin: 500px auto 200px auto;
}

.imagen-texto img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.ubicacion{
    position: absolute;
    top: 0;
    left: 40px;
}

.fecha{
    position: absolute;
    bottom: 0;
    right: 40px;
}

.ubicacion h3, .fecha h3{
    color: white;
    font-size: 26px;
}

.caja3{
    background-color:rgb(255, 75, 75);
    width: 900px;
    height: 400px;
    padding: 100px;
    position: absolute;
}

.caja4{
    background-color:rgb(0, 148, 37);
    width: 100px;
    height: 300px;
    padding: 100px;
    top: 180px;
    left: 400px;
    right: 400px;
    position: absolute;
}

.caja5{
    background-color:rgb(70, 70, 70);
    width: 100px;
    padding: 100px;
    top: 500px;
    left: 600px;
    right: 200px;
    position: absolute;
}

.menu{
    background-color: indigo;
    border: solid 2px white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 100%;
}

.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li a{
    text-decoration: none;
    color: white;
    padding: 12px 16px;
    display: block;
}

.menu li a:hover{
    color: indianred;
    cursor: pointer;
}

.contenido {
    display: none;
}

.des:hover .contenido{
    display: block;
}

.grad1{
    background: repeating-radial-gradient(circle, red 0px, red 10px, yellow 10px,yellow 20px);
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: absolute;
}

.contenedor2{
    margin-top: 1100px;
    position: relative;
}

.grad2{
    margin-left: 400px;
    background: repeating-conic-gradient(
        from 0deg,
        orange 0deg 20deg,
        black 20deg 40deg
    );
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: absolute;
}

.grad3{
    margin-left: 800px;
    background: radial-gradient(circle at center,
        #ffcccc 0%,
        #ff6699 40%,
        #cc0066 70%,
        #660033 100%
    );
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: absolute;
}

.grad4{
    margin-left: 1200px;
    background: linear-gradient(to bottom, green, yellow);
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: absolute;
}